<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".debug.Stage4DiagnosticsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.jongwoo.androidvm.debug.RUN_STAGE4_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".debug.Stage5DiagnosticsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.jongwoo.androidvm.debug.RUN_STAGE5_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".debug.Stage6DiagnosticsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.jongwoo.androidvm.debug.RUN_STAGE6_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".debug.Stage7DiagnosticsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.jongwoo.androidvm.debug.RUN_STAGE7_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".debug.StagePhaseADiagnosticsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.jongwoo.androidvm.debug.RUN_PHASE_A_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".debug.StagePhaseBDiagnosticsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.jongwoo.androidvm.debug.RUN_PHASE_B_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".debug.StagePhaseCDiagnosticsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.jongwoo.androidvm.debug.RUN_PHASE_C_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".debug.StagePhaseDDiagnosticsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.jongwoo.androidvm.debug.RUN_PHASE_D_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
